{{ define "main" }}
  <video id="video-bg" class="video-bg" data-src="{{ .Site.BaseURL }}images/dataplane.mp4" autoplay="true" loop="true" muted="true"></video>
  <section class="hero flex flex-col justify-end">
    <div class="container mx-auto">
      <h1 class="hero-title mt-32 mb-8 md:mb-16 font-normal"><span>Enterprise cloud data plane.</span>Any environment. Any service.</h1>
      <div class="hero-text flex flex-wrap md:flex-no-wrap">
        <div class="hero-card w-full my-2 md:w-1/3 md:m-2 md:ml-0 p-3">
          <h2 class="font-normal text-xl">Build your cloud.</h2>
          <p class="text-sm">Build and secure your data plane on top of your cloud-based infrastructure using the best practices such as automation, IaC, DevOps, CI/CD, holistic monitoring, and DevSecOps, among others.</p>
        </div>
        <div class="hero-card w-full my-2 md:w-1/3 md:m-2 p-3">
          <h2 class="font-normal text-xl">Build your Control Plane.</h2>
          <p class="text-sm">To manage and operate end-to-end your data plane and the delivery of your cloud native applications.</p>
        </div>
        <div class="hero-card w-full my-2 md:w-1/3 md:m-2 md:mr-0 p-3">
          <h2 class="font-normal text-xl">Cloud-based agnostic technology.</h2>
          <p class="text-sm">Free open source tooling, i.e. no vendor-lock-in. Security along the SDLC. Extremely Agile. Automation anywhere and everywhere approach.</p>
        </div>
      </div>
      <div class="hero-link uppercase w-full text-center mb-5 mt-2 font-bold">
        <a class="block py-2 px-8 rounded-full" href="{{ .Site.BaseURL }}contact/">Talk to Us</a>
      </div>
  </div>
  </section>

  <section class="home-content pt-5 pb-10">
    <div class="container mx-auto md:flex md:flex-row">
      <section class="flex-1 md:m-2 md:ml-0 mb-5">
          <h2 class="home-title uppercase text-sm mb-2">From Our Blog</h2>
          <ul class="home-posts md:flex md:flew-row md:-mr-1 md:-ml-1">
            {{ range where .Paginator.Pages.ByDate.Reverse "Section" "blog" | first 3 }}
              <li class="mb-2 md:m-1 p-5 md:w-1/3 flex flex-col">
                  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                  <small class="font-bold">{{ .PublishDate.Format $dateFormat }}</small> 
                  <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3> 
                  <div class="text-sm flex-1">{{ .Summary }}</div>
                  <a class="home-readmore font-bold text-xs mt-4" href="{{ .Permalink }}">Read More</a>
              </li>
            {{ end }}
          </ul>
      </section>

      <section class="md:w-1/3 md:m-2 md:mr-0 mb-5">
        <h2 class="home-title uppercase text-sm mb-2">Next Webinars</h2>
        <ul class="home-webinars">
          {{ range where .Site.RegularPages "Section" "webinars-events" | first 3 }}
          <li class="mb-1">
              {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
              <small class="font-bold">{{ .PublishDate.Format $dateFormat }}</small> 
              <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3> 
              <div class="text-xs">{{ .Summary }}</div>
            </li>
          {{ end }}
        </ul>    
        <a class="home-webinars-viewall block text-center uppercase text-xs font-bold mt-3" href="{{ .Site.BaseURL }}webinars-events/">View All</a>
      </section>

    </div>
  </section>
{{ end }}