<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class="flex flex-col min-h-screen {{if .IsHome}}home{{else}}{{.Type}}{{end}} {{ .File.BaseFileName }} ">
        {{- partial "header.html" . -}}
        <section id="content" class="flex-1">
            {{- partial "breadcrumbs.html" . -}}
            {{- block "main" . }}{{- end }}
        </section>
        {{- partial "footer.html" . -}}
    </body>

    <script src="{{ .Site.BaseURL }}js/jquery-3.5.1.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/headroom.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/jQuery.headroom.min.js"></script>
    <script>
        $(document).ready(function(){
            $('header').headroom({
                "offset": 100,
            });
            $('.hamburger').on('click', function(){
                $(this).toggleClass('is-active');
                $('nav').toggleClass('is-active');
            })
        });        
    </script>
</html>
