{{ define "main" }}

  <div class="container mx-auto">
    {{ partial "tag-cloud.html" .}}
    <h1>{{ .Title }}</h1>
    {{ template "_internal/pagination.html" . }}
    <ul>  
      {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
      {{ range $paginator.Pages.Reverse }}
        <li>
          <h2><a class="" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <div>{{ partial "date-tags.html" . }}</div>
          <div>{{ .Summary}}</div>
        </li>
      {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
  </div>

{{ end }}