<footer class="py-5">
  <div class="container mx-auto md:flex flex-row py-4">
    <div class="">
      <h2 class="logo mb-3">Data Plane</h2>
      <ul class="flex flex-row">
        <li class="mr-2"><a class="icon-twitter" href="https://twitter.com/" target="_blank">Twitter</a></li>
        <li class="mr-2"><a class="icon-github" href="https://gitbub.com/" target="_blank">GitHub</a></li>
        <li><a class="icon-linkedin" href="https://linkedin.com/" target="_blank">Linkedin</a></li>
      </ul>      
    </div>
    <div class="flex-1 mx-10 mt-3">
      {{ partial "nav.html" . }}
    </div>
    <div class="text-xs mt-3">
      <a href="mailto:info@data-plane.io">info@data-plane.io</a><br>
      <a href="/privacy-policy">Privacy Policy</a><br>
      &copy; Copyright {{ now.Format "2006"}}. data-plane.io 
    </div>
  </div>
</footer>