<nav>
  <ul class="flex">
    {{ $current := . }}
    {{ $type := .Type}}
    {{ range .Site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Resources") (eq $current.Section "blog")) }}
      {{ $active = or $active (and (eq .Name "Resources") (eq $current.Section "tags")) }}
      {{ $active = or $active (and (eq .Name "Resources") (eq $current.Section "webinar-events")) }}
      {{ $active = or $active (and (eq .Name "Resources") (eq $type "tags")) }}
      {{ if .HasChildren }}
        <li class="{{ if $active }}active{{ end }} mr-5">
          <a href="#">{{ .Name }}</a>
          <ul class="sub-menu">
            {{ range .Children }}
              {{ $subactive := or (eq .Identifier $current.Section) }}
              {{ $subactive = or $subactive (and (eq $type "tags") (eq .Name "Blog") ) }}
              <li class="{{ if $subactive }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
          </ul>
        </li>
      {{ else }}
        <li class="{{ if $active }}active{{ end }} mr-5">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>